body {
  color: white;
  background-color: #17141d;
  text-align: center;
  font: 1em roboto, sans-serif;
}

#framerate {
  position: fixed;
  left: 1em;
  top: 0;
}

#signature {
  color: rgb(71, 71, 71);
  font-size: 0.7em;
}

#signature > a:visited, a:link {
  color: rgb(104, 104, 104);
  text-decoration: none;
  font-weight: bold;
}

#signature > a:hover {
  color: rgb(133, 133, 133);
}

/* canvas {
  border: solid red 0.1em;
} */

#enlargewarning {
  color: red;
  display: none;
}

#enlargeinfo {
  color: yellow;
  display: none;
}

button {
  background-color: rgb(200,200,200);
  border-radius: 0.5em;
  border: none;
  font-size: 1em;
}

button:hover {
  background-color: rgb(220,220,220);
  cursor: pointer;
}

#pausebutton {
  background-color: rgb(80, 187, 114);
}

z {
  background-color: rgb(200,200,200);
  border-radius: 0.3em;
  color: black;
  font-size: 0.7em;
  padding: 0.1em 0.3em 0.1em 0.3em;
  /* padding-left: 0.3em;
  padding-right: 0.3em; */

}

z:hover {
  background-color: rgb(200,200,200);
  cursor: pointer;
}

/* #buttons > *{
  display: inline-block;
} */


.column {
float: left;
width: 50%;
}

.row:after {
content: "";
display: table;
clear: both;
}

#description{
  text-align: left;
}

a{
  color: #EAF280;
}
